@model Restaurant.Models.DetailsRestro

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<h4>Add New Restro.</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Location" class="control-label"></label>
                <input asp-for="Location" class="form-control" />
                <span asp-validation-for="Location" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DetailedDescription" class="control-label"></label>
                <textarea asp-for="DetailedDescription" class="form-control" maxlength="500"></textarea>
                <span asp-validation-for="DetailedDescription" class="text-danger"></span> 
            </div>
             <div class="form-group">
                <label asp-for="PhoneNo" class="control-label"></label>
                <input asp-for="PhoneNo" class="form-control" />
                <span asp-validation-for="PhoneNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Open </label> <label asp-for="Time" class="control-label"></label>
                <input asp-for="Time" class="form-control"type="time" />
                <span asp-validation-for="Time" class="text-danger"></span>
            </div>
            <div class="form-group">
               <label asp-for="CloseTime" class="control-label"></label>
                <input asp-for="CloseTime" class="form-control" type="time" />
                <span asp-validation-for="CloseTime" class="text-danger"></span>
            </div>
             <div class="form-group">
                <label asp-for="Website" class="control-label"></label><label>(Link)</label>
                <input asp-for="Website" class="form-control" />
                <span asp-validation-for="Website" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Photo" class="control-label"></label>
                <input asp-for="Photo" name="photoFile"class="form-control" type="file" accept="image/*" />
                <span asp-validation-for="Photo" class="text-danger"></span>
            </div>
            <br />
            <div class="buttons">
            <div class="form-group">
                <input type="submit" value="Add" class="btn btn-success" />
            </div>
            <div class="return_btn">
                <a class="btn btn-danger" asp-action="Index">Back to List</a>
            </div>
            </div>
        </form>
    </div>
</div>
<!--
<div class="return_btn">
    <a class="btn btn-danger"asp-action="Index">Back to List</a>
</div>
-->
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
